<h1>Create New Question</h1>
<form action= "/questions" method="post">
  <p>
    <label for="question-body">Body:</label>
   <input type="text" name="question[level]" id="question-body">
  </p><br>

  <input type="submit" value="Create">
</form>
